button, html, input, select, textarea {
  font: 400 14px/1.3 Roboto, Helvetica Neue, sans-serif;
}

html, body, ul, p, button {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;

  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

button {
  margin: 0 4px;
  padding: 0 6px;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  color: #212121;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .26);
  transition: .2s ease;
  transition-property: color, background-color, box-shadow;

  &.active {
    color: #fff;
    background-color: #2196f3;
  }
  &:active {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .4);
  }
  &:disabled {
    cursor: default;
    color: rgba(0, 0, 0, 0.38);
    background-color: rgba(0, 0, 0, 0.12);
  }
}
