<!DOCTYPE html>

<html lang="de" data-ng-app="mailbox">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- The fav icon -->
  <link rel="shortcut icon" href="assets/icons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="assets/icons/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,600" type="text/css">


  <title></title>
</head>
<body layout="row"></body>
</html>
