<!--filter-->
<div class="filter">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search">
</div>
<ul *ngIf="messages">
    <li *ngFor="let message of messages | filterByName : searchTerm" (click)="setActive(message)">
        <span class="from">{{message.from}}</span>
        <span class="to">{{message.to}}</span>
        <!--<span class="date">{{message.time | date: 'dd.MM.yy hh:mm'}}</span>-->
        <span class="date">{{message.time}}</span>
        <span class="subject">{{message.subject}}</span>
    </li>
</ul>
